# everything individually but not subdirectories
*
!*/

# meat and potatoes
!*.go
!*.md
!*.json
!*.ps1
!*.sh
!*.ts
!*.tsx
!*.js
!*.html
!*.css
!*.svg
!*.png
!*.ico
!*.txt

# garnish
.vscode/
!*.git*
!*.keep
!.travis.yml
!go.mod
!go.sum
!LICENSE

# special cases
!internal/vendor/examples/**

**/node_modules/**
gui/canvas/publish/
