# everything individually but not subdirectories
*
!*/

# meat and potatoes
!*.go
!*.md
!*.json
!*.ps1
!*.sh
!*.ts

# garnish
.vscode/
!*.git*
!*.keep
!.travis.yml
!go.mod
!go.sum
!LICENSE

# special cases
!internal/vendor/examples/**
**/node_modules/**